<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="application/javascript" src="js/vue.js"></script>
    <script type="application/javascript" src="js/jquery.min.js"></script>
    <title>Cockroach2 Moniter - Task</title>
</head>
<body>
    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" target="_blank" href="https://github.com/zhangyingwei/cockroach2">
                    <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
                    <span class="logo-text">Cockroach2</span>
                    <style>
                        .logo-text{
                            color: #009688;
                            font-size: 30px;
                            font-weight: bolder;
                            padding-left: 20px;
                            box-shadow: 0px 0px 0px 0px #000;
                            text-shadow: 0px 0px 0.2em #006359;
                        }
                  </style>
                </a>

            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">Home</a>
                <!--<a class="navbar-item" href="/queue">Queue</a>-->
                <a class="navbar-item is-active" href="/task">Task</a>
                <!--<a class="navbar-item" href="/executor">Executor</a>-->
              </div>
            </div>
          </nav>
    </div>
    <div class="container is-fluid" id="taskpage" >
        <div class="panel">
                <nav class="level notification page-content">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">task count</p>
                            <p class="title" v-text="count">0</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">running</p>
                            <p class="title" v-text="running">0</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">success</p>
                            <p class="title" v-text="success">0</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">failed</p>
                            <p class="title" v-text="failed">0</p>
                        </div>
                    </div>
                </nav>
        </div>

        <div class="columns">
            <div class="column is-4">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                      <article class="tile is-child notification is-primary">
                        <p class="title is-3">Task 分类统计信息</p>
                        <p class="content">
                            <ul>
                                <li v-for="(k,v) in groups" >
                                    <div class="columns">
                                        <div class="column is-3" v-text="v"></div>
                                        <div class="column is-9" v-text="k"></div>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div class="columns">-->
                                        <!--<div class="column is-3">分类1</div>-->
                                        <!--<div class="column is-9">123</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="columns">-->
                                        <!--<div class="column is-3">分类1</div>-->
                                        <!--<div class="column is-9">123</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </p>
                      </article>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="content">
                                <ul style="font-size: 15px;">
                                    <li v-for="(msg,index) in urls">
                                        <span v-text='msg.name' style="background-color: #ffd324;border-radius: 2px; padding-right: 2px;"></span>
                                        <span v-text='msg.msgMap["task.req.type"]' style="background-color: #ffd324;border-radius: 2px; padding-right: 2px;"></span>
                                        <a target="_blank" v-bind:href="msg.msgMap['task.url']" v-text="msg.msgMap['task.url']"></a>
                                    </li>
                                </ul>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript" src="js/task.js"></script>
</html>